<div ng-controller="BoxPlotCtrl">
    <div class="col-lg-5 col-md-8">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Axis</td>
                <td>Points</td>
                <td>Compute scores by axis</td>
                <td>Compare box plots by axis</td>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="axis_name in block.rc.axis_list">
                <td>{$ axis_name $}</td>
                <td>
                    {$ block.rc.labels_dict[axis_name] | labels_preview:3 $}
                </td>
                <td>
                    <input type="checkbox"
                           ng-model="block.boxplot_config.agg_axis_for_scoring[axis_name]"
                    >
                </td>
                <td>
                    <input type="checkbox"
                           ng-model="block.boxplot_config.compare_axis_by_boxplot[axis_name]"
                    >
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-xs-12 col-lg-6">
        <button class="btn btn-default btn-block"
                ng-click="redraw_plot()">Re-draw plot</button>

        <highchart id="chart1" config="plotConfig" ></highchart>

    </div>

</div>