<div class="col-xs-12 cell-md-6"
     ng-if="block.is_cells_prototype_defined"
>
    <div class="row">
        <div
            ng-repeat="cell in block.cells.list"
            class="col-md-6 col-lg-4"
        >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <b>{$ cell.label $} </b>
                    <a class="btn btn-xs btn-danger pull-right"
                       ng-click="access.send_method(block,'remove_cell', cell)">

                        Remove cell
                    </a>
                </div>
                <div class="panel-body">
                    <!--<fieldset ng-disabled="access.mode.ro">-->
                        <div ng-repeat="inp_tuple in cell.inputs_list ">
                            <div class="row form-group" ng-init="input=block.inputs.dict[inp_tuple[1]]">
                                <label class="col-sm-6 control-label">
                                    {$ inp_tuple[0] $} <small>[{$ input.required_data_type $}]</small>
                                </label>
                                <div class="col-sm-6">
                                    <div  ng-include="'/static/js/constructor/partials/input_port_select.html'" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!--</fieldset>-->
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4"
             ng-hide="access.mode.ro"
        >
            <div class="well">
            <form class="form-inline">

                <label class="control-label">
                    Cell label
                </label>
                <div class="form-group">

                    <input type="text" class="form-control"
                           ng-model="block.cells.new.label">
                </div>
                <button class="btn btn-primary"

                   ng-click="access.send_action(block, 'add_cell')"
                >
                    Add cell
                </button>

            </form>
            </div>

        </div>

    </div>
</div>
