<div>
    <div id="{$ block.uuid $}" class="constructor-block" ng-controller="BlockCtrl">

        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="pull-left">
                    [ <span ng-hide="edit_base_name">{$ block.base_name $}</span>
                    <span ng-show="edit_base_name">
                        <input type="text" name="base_name" ng-model="block.base_name"> </input>
                        <button class="btn btn-small"
                                ng-click="changeBaseName()">
                            Rename
                        </button>
                    </span>
                    <a ng-hide="edit_base_name"
                       ng-if="!access.mode.ro"
                       class="block-reload glyphicon glyphicon-pencil"
                       ng-click="toggleEditBaseName()">
                   </a>
                    ]

                </div>
                &nbsp;
                {$ block.name $}
                <!--<span class="label label-warning">Scope: {$ block.scope $}</span>-->
                <i>State: {$ block.state $} </i>

                <div class="pull-right">
                    <div class="pull-left header_button_fix"
                            ng-include="'/static/js/constructor/partials/actions_list.html'"
                    />

                    <span class="pull-right">
                        &nbsp;&nbsp;
                        <a class="block-reload glyphicon glyphicon-repeat"
                           style="text-decoration: none"
                           ng-click="access.reload_block(block)"></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="block-move-down glyphicon "
                           style="text-decoration: none"
                           ng-class="{'glyphicon-resize-small': !block.ui_folded,
                                      'glyphicon-resize-full': block.ui_folded}"
                           ng-click='toggleBodyVisibility()'>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="block-remove text-danger glyphicon glyphicon-trash"
                           ng-click="access.remove_block(block)">

                        </a>
                    </span>
                    <!--<a class="block-move-down hidden glyphicon glyphicon-resize-full"></a>-->
                    <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
                    <!--<a class="block-move-down glyphicon glyphicon-arrow-down"></a>-->
                    <!--<a class="block-move-up glyphicon glyphicon-arrow-up"></a>-->


                </div>
            </div>
            <div class="panel-body" ng-show="block.is_block_updating">
                <div class="alert alert-success" style="text-align:center">
                    <h2>Waiting for the server response!</h2>
                </div>

            </div>

            <div class="panel-body" ng-hide="block.ui_folded" ng-hide="block.is_block_updating">
                <div ng-if="block.errors.length > 0" class="row">
                    <div  class="alert alert-danger">
                        <ul class="list-unsyled">
                            <li ng-repeat="error in block.errors">
                                {$ error $}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12" ng-if="!block.has_custom_layout">

                    <div class="col-md-6 col-lg-4">
                        <!--<h4 style="text-align: center"> <span class="label label-default"> Input variables </span> </h4>-->
                        <div class="row">
                            <fieldset ng-disabled="access.mode.ro">
                                <div ports-group block="block" group-name="input">
                                </div>
                            </fieldset>
                        </div>

                    </div>

                    <div class="col-md-6 col-lg-8">
                        <!--<h4 style="text-align: center"> <span class="label label-default"> Parameters </span> </h4>-->
                        <div class="row">
                            <fieldset ng-disabled="access.mode.ro">
                                <div class="row"
                                        ng-repeat="param_proto in block._params_prototype_list | orderBy:'order_num' "
                                     ng-controller="formFieldCtrl">

                                    <!--[{$ field.order_num $}]-->
                                    <div ng-include="template">
                                    </div>

                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div ng-repeat="element in block.elements" ng-controller="blockElementCtrl">
                        <div ng-include="template" >
                        </div>
                    </div>
                </div>

                <!-- Internal steps -->
                <div class="panel panel-primary" ng-if="block.create_new_scope">
                    <div class="panel-heading">
                        <span  style="color: black"
                            class="glyphicon "
                            ng-class="{
                                'glyphicon-chevron-up': !block.ui_internal_folded,
                                'glyphicon-chevron-down': block.ui_internal_folded,
                            }"
                            ng-click="toggle_internal()"
                        >
                        </span>
                        &nbsp;
                        <span style="text-align: center"> Internal steps of <b> {$ block.base_name $}</b> </span>

                    </div>
                    <div class="panel-body" ng-hide="block.ui_internal_folded">
                        <div pallet
                             block_name="block.base_name"
                             scope_name="block.sub_scope_name"
                             ng-if="!access.mode.ro">
                        </div>
                        <div class="row">
                            <div ng-repeat="uuid in access.blocks_by_bscope[block.sub_scope_name]">
                                <div block-dir block="access.block_bodies[uuid]"> </div>
                            </div>
                        </div>
                    </div>

                    <div  ng-show="block.show_collector_editor"
                        ng-include="'/static/js/constructor/partials/collector.html'" >
                    </div>


                    <div class="panel-footer panel-primary">
                        <span
                            style="color: black"
                            class="glyphicon"
                            ng-class="{
                               'glyphicon-chevron-up': !block.ui_internal_folded,
                               'glyphicon-chevron-down': block.ui_internal_folded,
                            }"
                            ng-click="toggle_internal()"
                        >
                        </span>
                        &nbsp;
                        <a ng-hide="block.show_collector_editor" ng-click="toggle_collector_editor()">
                            Show outputs collector configuration
                        </a>
                        <a ng-show="block.show_collector_editor" ng-click="toggle_collector_editor()">
                            Hide outputs collector configuration
                        </a>
                    </div>
                </div>
            </div>


            <div class="panel-footer">
                &nbsp;
                <div class="pull-left" ng-if="block.out">
                    Block <b>{$ block.base_name $}</b> provides:
                    <span ng-repeat="out_var in block.out">
                        {$ out_var.name $}[{$ out_var.data_type $}]
                    </span>
                    <!--<< list of variables with modal window for details >>-->
                </div>

                <div class="pull-right">
                    <div ng-if="block.is_sub_pages_visible && block.pages">
                        Sub pages:
                        <a
                           ng-repeat="(res, page) in block.pages"
                           href="/block_sub_page/{$ exp_id $}/{$ block.uuid$}/{$ page.resource$}"
                                >
                            {$ page.title $}

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
