<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Source for <b>{{ input_var.title }}</b>

        {% if input_var.is_done %}
            <span class="pull-right">
                <button class="btn btn-danger"> Delete </button>
            </span>
        {% endif %}
        </h3>
    </div>
    <div class="panel-body">

    {% if input_var.is_done %}
        <div>
                {% if input_var.file_type == "user" %}
                    File was uploaded by user under name {{ input_var.filename }}
                {% endif %}
                {% if input_var.file_type == "ncbi_geo" %}
                    File was fetched from NCBI GEO under uid {{ input_var.geo_uid }} in  {{ input_var.file_format}} format.
                    {% if input_var.geo_type == "GSE"  %}
                        {% include  "workflow/input/sample_classify.html" %}
                    {% endif %}
                {% endif %}
        </div>
    {% endif %}

    {% if input_var.is_being_fetched %}
        Source for {{ input_var.name }} is being fetched right now. Please wait a bit.
    {% endif %}

    {% if not input_var.is_being_fetched and not input_var.is_done %}
        <!-- Upload file from local system -->
        <a data-toggle="modal" href="#file-upload-modal" class="btn btn-default btn-lg">Upload file</a>
        <div class="modal fade" id="file-upload-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">File upload</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal" action="{% url 'webapp.views.upload_data' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-lg-1"> </label>
                                <div class="col-lg-5">
                                    <input class="form-control" type="file" name="data" />
                                </div>
                            </div>
                            <h2> TODO: Setting to define file format, cvs delimiters and so on ...  </h2>
                            <!-- input type="submit" value="Upload" class="btn btn-warning" / -->
                            <input type="hidden" name="var_name" value="{{ input_var.name }}" />
                            <input type="hidden" name="exp_id" value="{{ exp.pk }}">
                            <input type="hidden" name="next" value="{% url 'webapp.views.alter_exp' exp.pk 'update' %}">

                            <div class="form-actions">
                                <button type="submit" name="Upload" class="btn btn-primary btn-lg btn-block">Upload</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <!-- button type="button" class="btn btn-primary">Save changes</button -->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <!-- Fetch file from ncbi geo -->
        <a data-toggle="modal" href="#geo-fetch-modal" class="btn btn-default btn-lg">Fetch from NCBI GEO</a>
        <div class="modal fade" id="geo-fetch-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Fetch dataset from NCBI GEO</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form form-vertical" method=post action="{% url 'webapp.views.geo_fetch_data' %}"/>
                            {% csrf_token %}
                            <input type="hidden" name="var_name" value="{{ input_var.name }}" />
                            <input type="hidden" name="exp_id" value="{{ exp.pk }}" />
                            <input type="hidden" name="next" value="{{ next }}" />


                            <div class="form-group">
                                <label class="control-label col-lg-2"> GEO id: </label>
                                <div class="col-lg-10">
                                    <input class="form-control" type="text" placeholder="GSE123..." name="geo_uid" value="{{ ctx.exp_file_vars.matrix.geo_uid }}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2"> <br /> Format: </label>
                                <div class=" col-lg-10">
                                <label class="radio control-label">
                                    <input type="radio" name="file_format"  value="soft" checked />
                                    SOFT formatted family file(s)
                                </label>
                                <label class="radio control-label">
                                    <input type="radio" name="file_format"  value="txt"/>
                                    Series Matrix File(s)
                                </label>
                                    </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" name="fetch" class="btn btn-primary btn-lg btn-block">Fetch</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <!-- button type="button" class="btn btn-primary">Save changes</button -->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}
    </div>
</div>