<div class="panel panel-default">
    <div class="panel-heading">
        <h3> {{ group.title }} </h3>
        <p> {{ group.description }}</p>
    </div>
    <div class="panel-body">
    {% for var_name, input_var in group.inputs.iteritems %}
        <!--p> {{ var_name }} {{ input_var.input_type }} </p -->
        {% if input_var.input_type == "checkbox" %}
            {% include "workflow/input/checkbox.html" %}
        {% endif %}
        {% if input_var.input_type == "file" %}
            {% include "workflow/input/file_input.html" %}
        {% endif %}
    {% endfor %}
    </div>
</div>