<div  style="overflow:auto; height:500px">
<table class="table table-condensed table-bordered tablesorter">
    {% if skip_header %}
    {% else %}
    <thead>
        <tr>
            {% for cell in header %}<th>{{ cell }}</th>{% endfor %}
        </tr>
    </thead>
    {% endif %}
    <tbody>
        {% for row in rows %}
            <tr>
                {% for cell in row %}<th>{{ cell }}</th>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    <script>
        $(".tablesorter")table.tablesorter({
            theme : "bootstrap",
            widthFixed: true,
            headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
            widgets : [ "uitheme", "filter"],
            widgetOptions : {
                zebra : ["even", "odd"],
                filter_reset : ".reset"
            }
        })

    </script>
</table>
</div>
