{% extends "base.html" %}
{% load webapp_markup %}

{% block inner %}
<div class="container">
    <div class="page-header">
        <h1>
            {{ article.title }}
            <small class="pull-right"> {{ article.dt_created }} by  <b>{{ article.author_title }}</b></small>
        </h1>

    </div>
    <br />
    <div class="well well-lg"
            style="font-size: 140%">
        {% if article.text_format == "md" %}
            {{ article.content|my_markdown }}
        {% endif %}
        {% if article.text_format == "html" %}
            {{ article.content|safe }}
        {% endif %}
    </div>


</div>
{% endblock %}