<div id="blocks-pallet-" class="row bg-gray" ng-show="show_pallet">
    <div class="col-xs-4 col-md-3 col-lg-2" ng-repeat="(name, blocks) in available_blocks">
        <div class="panel panel-default">
            <div class="panel-heading">{$ name $}</div>
            <div class="panel-body">

                <a ng-repeat="block in blocks"
                   href="#{$ block.name $}"
                   class="btn btn-default btn-block-provider btn-block"

                        >
                    {$ block.title $}
                </a>
            </div>
        </div>
    </div>
</div>