<div>
    <div ng-repeat="port in block.ports[groupName]" ng-controller="PortCtrl">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Select variable for
                    {$ port.name $} of type <b> {$ port.data_type$}</b>
                </label>
                <div class="col-sm-9">
                    <select class="form-control"
                            ng-model="port.bound_key"
                            ng-options="get_option_key(option) as get_option_title(option) for option in options" >
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

