<div>
    <div id="{$ block.uuid $}" class="row constructor-block" ng-controller="BlockCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left">
                </div>
                {$  block.name $}
                <span class="label label-warning">Scope: {$ block.scope $}</span>


                [   {$ block.base_name $}
                <a class="block-reload glyphicon glyphicon-pencil"></a>
                ]
                <i>State: {$ block.state $}</i>
                <!--{$ access.blocks[1].ports.input.ann.bound_key $}-->


                <div class="pull-right">
                    <a class="block-reload glyphicon glyphicon-repeat"
                       ng-click="access.reload_block(block)"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="block-move-down glyphicon glyphicon-resize-small"
                       ng-click='toggleBodyVisibility()'>
                    </a>
                    <a class="block-move-down hidden glyphicon glyphicon-resize-full"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="block-move-down glyphicon glyphicon-arrow-down"></a>
                    <a class="block-move-up glyphicon glyphicon-arrow-up"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="block-remove text-danger glyphicon glyphicon-trash"></a>
                </div>


            </div>
            <div class="panel-body" ng-show="block.is_block_updating" >
                <div class="alert alert-success" style="text-align:center">
                    <h2>Waiting for the server response!</h2>
                </div>

            </div>

            <div class="panel-body" ng-show="show_panel_body" ng-hide="block.is_block_updating">
                <div ng-if="has_errors" class="alert alert-danger">
                    <ul class="list-unsyled">
                        <li ng-repeat="error in block.errors">
                            {$ error.msg $}
                        </li>
                    </ul>
                </div>

                <div class="row">

                    <div class="col-xs-8">
                        <div ports-group block="block" groupName="input" >
                        </div>

                    </div>

                    <div class="col-xs-4">
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-default"
                                    ng-repeat="action in block.actions"
                                    ng-controller="BlockActionCtrl"
                                    ng-click="access.send_action(block, action.code)"
                                    >
                                {$ action.title $}
                            </button>
                        </div>
                    </div>


                    <!--&lt;!&ndash;{$ block.sub_blocks $}&ndash;&gt;-->
                    <!--<div subblockcont block="block"> </div>-->
                    <!--<div class="col-xs-10 col-xs-offset-1">-->

                    <!--&lt;!&ndash;<div ng-repeat="block in block.sub_blocks">&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<div block-dir />&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
</div>
