{% extends "base.html" %}

{% block inner %}
<input id="exp_id_storage" type="hidden" name="exp_id" value="{{ exp.pk }}" />
<input id="csrf_token_storage" type="hidden" name="exp_id" value="{{ csrf_token }}" />


<div id="{{ input_var.uuid }}_div" class="row">

<div class="well">
    <a href="{% url 'constructor' exp.pk %}" class="btn btn-block btn-large btn-primary">
        Return to experiment.
    </a>
</div>
<div class="col-md-9 col-lg-10 ">
    <table id="{{ input_var.uuid}}_main_table" class="table table-compact" >
        <thead><tr></tr></thead>
        <tbody></tbody>
    </table>
</div>
<div class="col-md-3 col-lg-2">
    <div class="panel panel-default">

        <div class="panel-heading">
            <label class="control-input">Enter class name:</label>
            <div class="input-group">
                <input type="hidden" class="hidden" id="active_class_provider"  value="0"/>
                <input type="hidden" class="hidden" id="class_provider_max_idx" value="0" />

                <input type="text" class="form-control" id="new_class_provider" />

                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="new_class_provider_btn">
                            Add
                        </button>
                    </span>

            </div>
        </div>
        <div class="panel-body">
            <div>
                <ul id="available_classes" class="nav nav-stacked nav-pills">
                </ul>
            </div>
        </div>

        <div class="panel-footer">
            <button class="btn btn-primary btn-block hidden show_if_at_least_one_class" type="button" id="assign_to_class">
                Assign samples
            </button><br />
            <!-- <button class="btn btn-default" id="drop_selection">Drop selection </button> -->
        </div>
    </div>


</div>


<script type="text/javascript">
//window.onload = function() {
//  document.onselectstart = function() {
//    return false;
//  }
//}
$(function() {
    var $exp_id = $("#exp_id_storage").attr("value");
    var $csrf_token = $("#csrf_token_storage").attr("value");

    var dataurl = "{% url 'get_gse_samples_info' exp.pk  block_.uuid %}";
    var headers = {
        'Sample_title': 'Title',
        'Sample_geo_accession': '#',
        'Sample_description': 'Description',
        'Sample_characteristics_ch1': 'Characteristics',
        'User_class': 'User class'
    };
    var fields_order = ['Sample_geo_accession', 'Sample_title',
        'Sample_description', 'Sample_characteristics_ch1', 'User_class'];

    var $table = $("#{{ input_var.uuid}}_main_table");
    var $header_row = $("#{{ input_var.uuid}}_main_table thead tr");
    var $table_body = $("#{{ input_var.uuid}}_main_table tbody");

    $('#assign_to_class').click(function(){
        var class_idx =  $('#active_class_provider').val() ;
        var class_name = $('#available_classes li[value=' + class_idx + '] a').text()

        var rows = $table_body.children('.success');
        for(idx=0; idx< rows.length; ++idx){
            var $row = $(rows[idx]);
            $row.removeClass("success");
            $row.children('td:last').html(class_name);
        }

        //collect table
        var all_rows = $table_body.children('tr');
        var sample_classes = {};
        for(idx=0; idx< all_rows.length; ++idx){
            var row = $(all_rows[idx]);

            var sample_id = row.children('td:first').html();
            var class_name = row.children('td:last').html();
            sample_classes[sample_id] = class_name;
        }

        $table.trigger("update");

        $.ajax({
            url: "{% url 'webapp.views.block_resource' exp_id=block_.exp_id block_uuid=block_.uuid action_code='assign_sample_classes' %}",
            type: "POST",
            data: {
                'sample_classes': JSON.stringify(sample_classes),
                'csrfmiddlewaretoken': $csrf_token,
                'exp_id': $exp_id,
                'block_uuid': '{{ block_.uuid }}',
                'action': 'assign_sample_classes'
            },
            dataType: "json"
            //,                    success: onDataReceived
        });

    });


    function add_sample_class(class_name){
        // TODO: we really don't need idx
        var $li = $("<li />");
        if( class_name != ""){
            var $class_id = parseInt($('#class_provider_max_idx').val());
            var $span = $("<a href='#' class=''/>");
            $span.html(class_name);

            $li.attr('value', $class_id);
            $li.append($span);
            $('#class_provider_max_idx').val($class_id + 1);
            $('#available_classes').append($li);
            $li.click(function(){
                var $all_li = $("#available_classes li");
                for(var index = 0; index < $all_li.length; ++index){
                    $( $all_li[index]).removeClass("active");
                }

                $(this).addClass("active");
                $('#active_class_provider').val($(this).attr('value'));
            });

            $li.click();
            $('.show_if_at_least_one_class').removeClass('hidden');
            $('#new_class_provider').val('');
        };
    };

    $('#new_class_provider_btn').click(function(){
        var class_name = $('#new_class_provider').val();
        //TODO: collect all names and check if user tries to duplicate it
        add_sample_class(class_name);
    });


    $(document).ready(function (){
        for(var field in fields_order){
            var $td = $('<td />');
            $td.html(headers[fields_order[field]]);
            $header_row.append($td);
        }

        function onDataReceived(response){
            var pheno = response['pheno']
            var pheno_headers = response['pheno_headers']
            var classes = response['classes']

            var record_projection_idxs = []
            $.each(fields_order, function(idx2, field){
                record_projection_idxs.push(pheno_headers.indexOf(field));
            });

            $.each(pheno, function(idx, record){
                var $tr = $('<tr />');
                $.each(record_projection_idxs, function(_, idx){
                    var $td = $('<td />');
                    $td.html(record[idx]);
                    $tr.append($td);
                });
                $table_body.append($tr)
            });

            $table.trigger("update", [true]);
            $.each(response['classes'], function(idx, cls){
                add_sample_class(cls);
            });
        }

        $.ajax({
            url: dataurl,
            type: "GET",
            dataType: "json",
            success: onDataReceived
        });

        $.extend($.tablesorter.themes.bootstrap, {
            // these classes are added to the table. To see other table classes available,
            // look here: http://twitter.github.com/bootstrap/base-css.html#tables
            table      : 'table table-bordered',
            header     : 'bootstrap-header', // give the header a gradient background
            footerRow  : '',
            footerCells: '',
            icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
            sortNone   : 'bootstrap-icon-unsorted',
            sortAsc    : 'icon-chevron-up glyphicon glyphicon-chevron-up',     // includes classes for Bootstrap v2 & v3
            sortDesc   : 'icon-chevron-down glyphicon glyphicon-chevron-down', // includes classes for Bootstrap v2 & v3
            active     : '', // applied when column is sorted
            //hover      : '', // use custom css here - bootstrap class may not override it
            filterRow  : '', // filter row class
            even       : '', // odd row zebra striping
            odd        : ''  // even row zebra striping
        });

        // call the tablesorter plugin and apply the uitheme widget
        $table.tablesorter({
            theme : "bootstrap",
            widthFixed: true,
            headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
            widgets : [ "uitheme", "filter"],
            widgetOptions : {
                zebra : ["even", "odd"],
                filter_reset : ".reset"
            }
        })

        var lastSelectedRow=2;
        $table_body.on('click', 'tr', function(event) {
            window.lastSelectedRow = event;
            row = event.currentTarget;
            var current_idx = row.rowIndex;

            console.log("Current row index: " + current_idx + " last idx: " + lastSelectedRow);
            if(event.shiftKey && current_idx != lastSelectedRow){
                document.getSelection().removeAllRanges();

                var a; var b;
                if ( current_idx > lastSelectedRow){
                    a = lastSelectedRow  - 2;
                    b = current_idx -2;
                } else {
                    a = current_idx -2 ;
                    b = lastSelectedRow - 2;
                }
                console.log("a="+a+"  b="+b);
                for(var i=a; i<b+1; i++){
                    $tr = $($table_body.children('tr')[i]);
                    if( $tr.css('display') != 'none' ){
                        $tr.addClass('success');
                    }
                }
            } else {
                $.each($table_body.children('tr'), function(idx, obj){
                    $(obj).removeClass('success');
                });
                $(row).toggleClass('success')
            }
            lastSelectedRow = current_idx;


        });

    });
});
</script>

</div>
{% endblock %}