{% extends "base.html" %}

{% block inner %}
    <div class="container">

        <h1>Acknowledgement</h1>
        <p>This research and development is supported by the grant 
            <a href="http://www.isvav.cz/projectDetail.do?rowId=NT14539">NT14539</a>
            of the Ministry of Health of the Czech Republic.
        </p>
        <hr />
        <h1>Third parties software </h1>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>License</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Django</th>
                    <th>© 2005-2013 Django Software Foundation
                        <a href="https://www.djangoproject.com/foundation/">
                            Django Software Foundation
                        </a>
                    </th>
                    <th><a href="https://github.com/django/django/blob/master/LICENSE">
                        LICENSE
                    </th>
                </tr>
                <tr>
                    <th>Celery</th>
                    <th>
                        © 2007–2011 <a href="http://twitter.com/asksol">Ask Solem</a> and
                        <a href="https://github.com/celery/celery/blob/master/CONTRIBUTORS.txt">  contributors</a>
                    </th>
                    <th>
                        <a href="https://github.com/celery/celery/blob/master/LICENSE"> BSD-3-Clause</a>
                    </th>
                </tr>
                <tr>
                    <th>Bootstrap</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>JQuery</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
