{% extends "empty.html" %}

{% block body %}

<!-- top navigation -->
<div class="navbar navbar-inverse navbar-fixed-top"  role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">miXGENE</a>

            <ul class="nav navbar-nav">
                <li {% if exp_page_active %} class="active" {% endif %}>
                    <a href="{% url 'webapp.views.experiments' %}">Experiments</a>
                </li>
                <li {% if exp_add_page_active %} class="active" {% endif %}>
                    <a href="{% url 'webapp.views.add_experiment' %}">New</a>
                </li>
                <li><a href="{% url 'webapp.views.about' %}">About</a></li>
                <li><a href="{% url 'webapp.views.contact' %}">Contact</a></li>
            </ul>

            {% if  user.is_authenticated %}
            <form class="navbar-form navbar-right" action="{% url 'django.contrib.auth.views.logout' %}"  method=POST>
                {% csrf_token %}
                <div class="form-group">
                    <button  class="btn btn-warning pull-right" type="submit">Logout</button>
                    <input type="hidden" name="next" id="next" value="{{ next}}" >
                </div>
            </form>

            {% else %}
            <form class="navbar-form navbar-right" action="{% url 'webapp.views.create_user' %}" method=POST>
                {% csrf_token %}
                <div class="form-group">
                    <button  class="btn btn-primary" href="create_new_user">Registration</button>
                </div>
            </form>
            <form class="navbar-form navbar-right" action="{% url 'django.contrib.auth.views.login' %}" method=POST>
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" name="username" id="id_username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password"  id="id_password" placeholder="Password">
                </div>
                <input type="hidden" name="next" id="next" value="{{ next}}" >
                <button type="submit" class="btn btn-success">Sign in</button>

            </form>
            {% endif %}
        </div>
    </div>
</div>
<!-- end top navigation -->


{% block inner %}
{% endblock %}

<!-- div id="footer">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                <h5> All used 3rd-party software is listed on
                    <a href="{% url 'webapp.views.about' %}"> About</a> page
                </h5>
            </div>
        </div>
    </div>
</div -->


{% endblock body %}

