{% extends "empty.html" %}

{% block body %}

<!-- top navigation -->
<div class="navbar navbar-default navbar-static-top"  role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">miXGENE</a>
        </div>
        <ul class="nav navbar-nav">
            {% if  user.is_authenticated %}
                <li {% if exp_page_active %} class="active" {% endif %}>
                    <a href="{% url 'webapp.views.experiments' %}">Experiments</a>
                </li>
                <li {% if exp_add_page_active %} class="active" {% endif %}>
                    <a href="{% url 'webapp.views.add_experiment' %}">New</a>
                </li>
            {% endif %}
            <li><a href="{% url 'webapp.views.about' %}">About</a></li>
            <li><a href="{% url 'webapp.views.contact' %}">Contact</a></li>
        </ul>

        {% if  user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                     <p class="navbar-text">Welcome, <b>{{user.username}}</b></p>
                </li>
                <li>
                    <form class="navbar-form" action="{% url 'django.contrib.auth.views.logout' %}"  method=POST>
                        {% csrf_token %}
                        <div class="form-group">
                            <button  class="btn btn-warning pull-right" type="submit">Logout </button>
                            <input type="hidden" name="next" id="next" value="{{ next}}" >
                        </div>
                    </form>
                </li>
            </ul>

        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="" href="{% url 'django.contrib.auth.views.login' %}">
                        <span class="text-primary">Login</span>
                    </a>
                </li>

                <li>
                    <a class="" href="{% url 'webapp.views.create_user' %}">
                        <span class="text-success">Register</span>
                    </a>
                </li>
            </ul>
        {% endif %}

    </div>
</div>
<!-- end top navigation -->


{% block inner %}
{% endblock %}

<!-- div id="footer">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                <h5> All used 3rd-party software is listed on
                    <a href="{% url 'webapp.views.about' %}"> About</a> page
                </h5>
            </div>
        </div>
    </div>
</div -->


{% endblock body %}

