{% extends "base.html" %}

{% block inner %}
<div ng-app="Constructor" ng-controller="MainCtrl">
<input id="exp_id_storage" type="hidden" name="exp_id" value="{{ ctx.exp_id }}" />
<input id="csrf_token_storage" type="hidden" name="exp_id" value="{{ csrf_token }}" />

<button class="btn btn-block btn-primary" ng-click="toggle_show_old_worktable()">
    <span ng-show="show_old_worktable">Hide old worktable</span>
    <span ng-hide="show_old_worktable">Show old worktable</span>
</button>

<div class="div"  ng-show="show_old_worktable">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <div class="alert alert-success">
                    Welcome to the experiment constructor! <br />
                    Start by choosing slot to add block.
                </div>
            </div>
        </div>
        <div id="worktable0" class="row well">
            {% for uuid, exp_block in blocks %}
                {% if exp_block.scope == "root" %}
                    {% include exp_block.widget %}
                {% endif %}
            {% endfor %}
            <button type="button" class="btn btn-lg btn-block btn-success btn-block-placeholder"
                    data-scope="root">
                Add block
            </button>

            {% include "widgets/blocks_pallet.html" %}

        </div>
    </div>
</div>



<script type="text/javascript">
    {% autoescape off %}
    document.blocks_by_group = JSON.parse('{{ blocks_by_group_json}}');
    document.blocks_jsonified = JSON.parse('{{ blocks_jsonified }}');
    document.exp = JSON.parse('{{ exp_json }}');
    {% endautoescape %}
    {% include 'constructor.js' %}
</script>

<hr />
<div class="row" >
  <div id="worktable" class="col-xs-12" ng-controller="WorktableCtrl">


      <div ng-repeat="(uuid, block) in blocks">
          <block />
      </div>


      <pallet />
  </div>

</div>
<hr />



</div>
{% endblock %}