<!DOCTYPE html>
{% load static %}
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="static/js/html5shiv.js"></script>
<![endif]-->

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{% static 'flot/excanvas.min.js' %}"></script><![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>miXGENE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="imvalgo@gmail.com">


        <!-- jquery -->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.0.3/jquery-2.0.3.min.js"></script>-->
        <script type="text/javascript" src="{% static 'common/jquery/jquery.js' %}"></script>
        <!-- jquery plugins -->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.form/3.36/jquery.form.min.js"></script>-->
        <script type="text/javascript" src="{% static 'common/jquery-form/jquery.form.js' %}"></script>

        <!-- end jquery plugins -->

        <!-- spin.js -->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/spinjs/1.3.0/spin.min.js"></script>-->

        <!-- flot -->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.crosshair.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.fillbetween.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.image.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.min.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.navigate.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.pie.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.resize.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.selection.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.stack.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.symbol.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.threshold.js"></script>-->
        <script type="text/javascript" src="{% static 'common/flot/jquery.flot.js' %}"></script>

        <!-- flot end -->


        <!-- bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="{% static 'common/bootstrap/dist/css/bootstrap.min.css' %}">

        <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">-->
        <link rel="stylesheet" href="{% static 'common/bootstrap/dist/css/bootstrap-theme.min.css' %}">

        <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>-->
        <script src="{% static 'common/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <!-- bootstrap end -->

        <!-- tablesorter -->
        <script src="{% static 'common/jquery.tablesorter/js/jquery.tablesorter.min.js' %}"></script>
        <script src="{% static 'common/jquery.tablesorter/js/jquery.tablesorter.widgets.min.js' %}"></script>
        <link href="{% static 'common/jquery.tablesorter/css/theme.bootstrap.css' %}" rel="stylesheet">

        <!-- tablesorter end -->


        <!-- datatable  -->
        <script src="{% static 'common/datatables/media/js/jquery.dataTables.js' %}"></script>
        <!--<link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/jquery.datatables/1.9.4/css/jquery.dataTables.css" />-->
        <!--<link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/jquery.datatables/1.9.4/css/jquery.dataTables_themeroller.css" />-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.datatables/1.9.4/js/jquery.dataTables.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.datatables/1.9.4/js/jquery.dataTables.min.js"></script>-->
        <!--<link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/jquery.datatables/1.9.4/plugins/DT_bootstrap.css" />-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.datatables/1.9.4/plugins/DT_bootstrap.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.datatables/1.9.4/plugins/jquery.dataTables.rowGrouping-1.2.9.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.datatables/1.9.4/plugins/jquery.dataTables.rowGrouping.js"></script>-->


        <link href="{% static 'datatables/css/datatables.css' %}" rel="stylesheet">
        <script src="{% static 'datatables/js/datatables.js' %}"></script>
        <!-- datatable end -->


        <link href="{% static 'css/flot_specific.css' %}" rel="stylesheet">
        <link href="{% static 'css/common.css' %}" rel="stylesheet">

        <link rel="shortcut icon" href="static/ico/favicon.png">
        <script type="text/javascript">
            {% include "common_js.js" %} // TODO: pack js to static
        </script>



        <!-- Angular JS-->
        <script src="{% static 'common/angular/angular.js'%}"></script>
        <script src="{% static 'common/angular-resource/angular-resource.js'%}"></script>
        <script src="{% static 'common/angular-cookies/angular-cookies.js'%}"></script>
        <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>-->
        <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-cookies.js"></script>-->



        <!--<link rel="stylesheet" href="{% static 'common/angular-slider/angular-slider.css'%}">-->
        <!--<script src="{% static 'common/angular-slider/angular-slider.js'%}"></script>-->



        <!-- Local scripts-->
        <script src="{% static 'js/app/app.js'%}"></script>
        <script src="{% static 'js/app/directives.js'%}"></script>
        <script src="{% static 'js/app/forms/directives.js'%}"></script>
        <script src="{% static 'js/app/services.js'%}"></script>
        <script src="{% static 'js/app/controllers.js'%}"></script>


        <script type='text/javascript' id='lt_ws' src='http://localhost:43463/socket.io/lighttable/ws.js'></script>

    </head>

    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>
