<!DOCTYPE html>
{% load static %}
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="static/js/html5shiv.js"></script>
<![endif]-->

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{% static 'flot/excanvas.min.js' %}"></script><![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>miXGENE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="imvalgo@gmail.com">


        <!-- jquery -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.0.3/jquery-2.0.3.min.js"></script>

        <!-- jquery plugins -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.form/3.36/jquery.form.min.js"></script>

        <!-- end jquery plugins -->

        <!-- spin.js -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/spinjs/1.3.0/spin.min.js"></script>

        <!-- flot -->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.crosshair.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.fillbetween.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.image.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.min.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.navigate.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.pie.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.resize.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.selection.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.stack.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.symbol.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.flot/0.7/jquery.flot.threshold.js"></script>-->
        <!-- flot end -->

        <!-- bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <!-- bootstrap end -->

        <!-- tablesorter -->
        <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/tablesorter/2.11.1/addons/pager/jquery.tablesorter.pager.css" />

        <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/tablesorter/2.11.1/css/filter.formatter.css" />
        <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/tablesorter/2.11.1/css/theme.black-ice.css" />
        <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/tablesorter/2.11.1/css/theme.blue.css" />
        <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/tablesorter/2.11.1/css/theme.bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/tablesorter/2.11.1/css/theme.dark.css" />
        <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/tablesorter/2.11.1/css/theme.default.css" />
        <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/tablesorter/2.11.1/css/theme.dropbox.css" />
        <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/tablesorter/2.11.1/css/theme.green.css" />
        <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/tablesorter/2.11.1/css/theme.grey.css" />
        <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/tablesorter/2.11.1/css/theme.ice.css" />
        <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/tablesorter/2.11.1/css/theme.jui.css" />

        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/jquery.metadata.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/jquery.tablesorter.widgets-filter-formatter.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/jquery.tablesorter.widgets.min.js"></script>

        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/addons/pager/jquery.tablesorter.pager.min.js"></script>

        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/parsers/parser-date-iso8601.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/parsers/parser-date-month.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/parsers/parser-date-two-digit-year.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/parsers/parser-date-weekday.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/parsers/parser-date.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/parsers/parser-feet-inch-fraction.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/parsers/parser-ignore-articles.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/parsers/parser-input-select.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/parsers/parser-metric.js"></script>

        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/widgets/widget-build-table.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/widgets/widget-editable.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/widgets/widget-grouping.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/widgets/widget-repeatheaders.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.11.1/js/widgets/widget-scroller.js"></script>
        <!-- tablesorter end -->


        <!-- datatable  -->
        <!--<link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/jquery.datatables/1.9.4/css/jquery.dataTables.css" />-->
        <!--<link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/jquery.datatables/1.9.4/css/jquery.dataTables_themeroller.css" />-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.datatables/1.9.4/js/jquery.dataTables.js"></script>-->
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.datatables/1.9.4/js/jquery.dataTables.min.js"></script>
        <!--<link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/jquery.datatables/1.9.4/plugins/DT_bootstrap.css" />-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.datatables/1.9.4/plugins/DT_bootstrap.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.datatables/1.9.4/plugins/jquery.dataTables.rowGrouping-1.2.9.js"></script>-->
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.datatables/1.9.4/plugins/jquery.dataTables.rowGrouping.js"></script>-->


        <link href="{% static 'datatables/css/datatables.css' %}" rel="stylesheet">
        <script src="{% static 'datatables/js/datatables.js' %}"></script>
        <!-- datatable end -->


        <link href="{% static 'css/flot_specific.css' %}" rel="stylesheet">
        <link href="{% static 'css/common.css' %}" rel="stylesheet">

        <link rel="shortcut icon" href="static/ico/favicon.png">
        <script type="text/javascript">
            {% include "common_js.js" %} // TODO: pack js to static
        </script>

        <!--<script src="{% static 'js/libs/angular.js'%}"></script>-->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-cookies.js"></script>


        <script src="{% static 'js/app/app.js'%}"></script>
        <script src="{% static 'js/app/services.js'%}"></script>
        <script src="{% static 'js/app/controllers.js'%}"></script>

    </head>

    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>
