{% extends "base.html" %}

{% block inner %}
    <div class="row">

      <div class="span7 offset1">
        <h1>miXGENE web app main page</h1>
        {% if  user.is_authenticated %}
            <h2>Welcome back <b>{{user.username}}</b> ! </h2>
        {% endif %}
        <h4>TODO list:</h4>
        <ul>
            <li>
                Creating experiments without configuration
            </li>
            <li>
                <strike>File upload input &amp; linking with experiments </strike>
            </li>
            <li>
                <strike> Execute R by means of rpy2 and store results to files and/or to redis or db. </strike>
            </li>
            <li>
                Use requirements.txt to pip install
            </li>
            <li>
                <strike> Be able to delete experiments with status != running </strike>
            </li>
            <li>
                <strike>Rename workflow task to action, to avoid confusion with celery tasks
                [github #11]</strike>
            </li>
            <li>
                Make experiments table sortable
            </li>
        </ul>


        <h4>Ideas list:</h4>
        <ul>
            <li>
                Be able to use results from one experiment in another
            </li>
            <li>
                Download datasets from NCBI
            </li>
            <li>
                http://biopython.org
            </li>
        </ul>

      </div>

{% endblock %}
