<div class="form-group" >
    <label class="col-sm-4 control-label">
        {$ field.title $}
    </label>

    <div class="col-sm-6">
        <input type="text" class="form-control" name="{{ field.name }}"
               ng-model="block[field.name]">
               <!--ng-model="block[field.name]"  capitalize>-->
        </input>
    </div>

    <div class="row">
        <div ng-repeat="error in block.form_errors[field.name]" class="col-sm-9 col-sm-offset-3">
            <span class="label label-danger">
                {$ error $}
            </span>
        </div>
    </div>


</div>