{% extends "base.html" %}

{% block inner %}

<div class="row span6 offset2" >
    <form class="form-vertical" method=post action="{% url 'webapp.views.create_exp_instance' %}"/>
        {% csrf_token %}

        <input type="text" placeholder="Sleep time one" name="t1" /> <br />
        <input type="text" placeholder="Sleep time two" name="t2" /> <br />
        <input type="text" placeholder="Sleep time three" name="t3" /> <br />

        <label class="checkbox">
        <input type="checkbox" name="run_now">
            Run immidiately
        </label>

        <input type="hidden" name="id_wfl" value="{{ layout_id }}" />
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Proceed</button>
        </div>
    </form>
</div>
{% endblock %}
