{% extends "base.html" %}

{% block inner %}

<div class="row span9 offset2" >
    <h5>Status: {{ exp.status }}
        {% if runnable %}
            <a href="{% url 'webapp.views.alter_exp' exp.e_id 'run' %}" class="btn btn-warning" > Run experiment</a>
        {% endif %}
    </h5>
    <p>This workflow consists of single task which apply test R algo.

    </p>

    <!-- {{ data_files }} -->
    <!-- TODO: If dataset isn't uploaded yet, otherwise show notice about dataset +repace/delete -->

    <hr />
    <h5> Uploaded </h5>
    <ul>
        {% for var_name in data_files_var_names_uploaded %}
        <li>
            {{ var_name }}

            <button class="btn"> Preview </button>
            <button class="btn btn-danger"> Delete </button>
        </li>
        {% empty %}
        <!--    Nothing stored yet. -->
        {% endfor %}
    </ul>

    {% if show_uploads %}
    <h5>You need to upload dataset before starting experiment: </h5>


    {% endif %}

    {% if configurable %}
        {% for var_name in  data_files_var_names_required %}
            {% if var_name not in data_files_var_names_uploaded %}
                <form class="form form-inline" action="{% url 'webapp.views.upload_data' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label>File:</label><input type="file" name="data" />
                    <label>As &nbsp;</label><input  class="disabled" type="text" name="var_name" value="{{ var_name }}" />
                    <input type="hidden" name="exp_id" value="{{ exp.e_id }}">
                    <input type="hidden" name="next" value="{% url 'webapp.views.alter_exp' exp.e_id 'update' %}">
                    <input type="submit" value="Upload" class="btn btn-warning" />
                </form>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

