{% extends "base.html" %}

{% block inner %}
<div class="container" >
    <h5>Status: {{ exp.status }}
        {% if runnable %}
        <a href="{% url 'webapp.views.alter_exp' exp.e_id 'run' %}" class="btn btn-warning" > Run experiment</a>
        {% endif %}
    </h5>

    <p>This workflow only cleans matrix file from ncbi geo and show it
    </p>

    <!-- TODO:remove exp_*_var and related. Now we have workflow.input module
    <p> Fetching now: {{ ctx.exp_fetching_data_var }} </p>
    <p> Fetched {{ ctx.exp_file_vars }} </p -->


    {% for inp_var in ctx.input_vars.values %}
        {% if inp_var.input_type == "file" %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Please provide source for <b>{{ inp_var.title }}</b></h3>
                    <!-- p> {{ inp_var.description }} </p -->
                </div>
                <div class="panel-body">

                {% if inp_var.is_done %}
                    <div>
                        <p>
                            {% if inp_var.file_type == "user" %}
                                File was uploaded by user under name {{ inp_var.filename }}
                            {% endif %}
                            {% if inp_var.file_type == "ncbi_geo" %}
                                File was fetched from NCBI GEO under uid {{ inp_var.geo_uid }} in  {{ inp_var.file_format}} format.
                            {% endif %}
                            <p>Source: {{ inp_var.file_type }} </p>
                            <button class="btn btn-default"> Preview </button>
                            <button class="btn btn-danger"> Delete </button>
                        </p>
                    </div>
                {% endif %}

                {% if inp_var.is_being_fetched %}
                    Source for {{ inp_var.name }} is being fetched right now. Please wait a bit.
                {% endif %}

                {% if not inp_var.is_being_fetched and not inp_var.is_done %}
                    <!-- Upload file from local system -->
                    <a data-toggle="modal" href="#file-upload-modal" class="btn btn-default btn-lg">Upload file</a>
                    <div class="modal fade" id="file-upload-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">File upload</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form form-horizontal" action="{% url 'webapp.views.upload_data' %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="control-label col-lg-1"> </label>
                                            <div class="col-lg-5">
                                                <input class="form-control" type="file" name="data" />
                                            </div>
                                        </div>
                                        <h2> TODO: Setting to define file format, cvs delimiters and so on ...  </h2>
                                        <!-- input type="submit" value="Upload" class="btn btn-warning" / -->
                                        <input type="hidden" name="var_name" value="{{ inp_var.name }}" />
                                        <input type="hidden" name="exp_id" value="{{ exp.e_id }}">
                                        <input type="hidden" name="next" value="{% url 'webapp.views.alter_exp' exp.e_id 'update' %}">

                                        <div class="form-actions">
                                            <button type="submit" name="Upload" class="btn btn-primary btn-lg btn-block">Upload</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <!-- button type="button" class="btn btn-primary">Save changes</button -->
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->


                    <!-- Fetch file from ncbi geo -->
                    <a data-toggle="modal" href="#geo-fetch-modal" class="btn btn-default btn-lg">Fetch from NCBI GEO</a>
                    <div class="modal fade" id="geo-fetch-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Fetch dataset from NCBI GEO</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form form-vertical" method=post action="{% url 'webapp.views.geo_fetch_data' %}"/>
                                        {% csrf_token %}
                                        <input type="hidden" name="var_name" value="{{ inp_var.name }}" />
                                        <input type="hidden" name="exp_id" value="{{ exp.e_id }}" />
                                        <input type="hidden" name="next" value="{{ next }}" />


                                        <div class="form-group">
                                            <label class="control-label col-lg-2"> GEO id: </label>
                                            <div class="col-lg-10">
                                                <input class="form-control" type="text" placeholder="GSE123..." name="geo_uid" value="{{ ctx.exp_file_vars.matrix.geo_uid }}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2"> <br /> Format: </label>
                                            <div class=" col-lg-10">
                                            <label class="radio control-label">
                                                <input type="radio" name="file_format"  value="soft" checked />
                                                SOFT formatted family file(s)
                                            </label>
                                            <label class="radio control-label">
                                                <input type="radio" name="file_format"  value="txt"/>
                                                Series Matrix File(s)
                                            </label>
                                                </div>
                                        </div>
                                        <div class="form-actions">
                                            <button type="submit" name="fetch" class="btn btn-primary btn-lg btn-block">Fetch</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <!-- button type="button" class="btn btn-primary">Save changes</button -->
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                {% endif %}
                </div>
        {% endif %}
    {% endfor %}







</div>
{% endblock %}

