{% extends "base.html" %}

{% block inner %}
<div class="container" >
    <h5>Status: {{ exp.status }}
    {% if runnable %}
        <a href="{% url 'webapp.views.alter_exp' exp.e_id 'run' %}" class="btn btn-warning" > Run experiment</a>
    {% endif %}
    </h5>

    <p>This workflow only cleans matrix file from ncbi geo and show it
    </p>

    <p> Fetching now: {{ ctx.exp_fetching_data_var }} </p>
    <p> Fetched {{ ctx.exp_file_vars }} </p>

    <form class="form-vertical" method=post action="{% url 'webapp.views.geo_fetch_data' %}"/>
        {% csrf_token %}

        <input type="text" placeholder="GSE123..." name="geo_uid" value="{{ ctx.exp_file_vars.matrix.geo_uid }}" /> <br />

        <input type="hidden" name="var_name" value="matrix" />
        <input type="hidden" name="exp_id" value="{{ exp.e_id }}" />
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="form-actions">
            <button type="submit" name="fetch" class="btn btn-primary">Download</button>
        </div>
    </form>


</div>
{% endblock %}

