{% extends "base.html" %}

{% block inner %}
<div class="container" >
    <h5>Status: {{ exp.status }}
    {% if runnable %}
        <a href="{% url 'webapp.views.alter_exp' exp.e_id 'run' %}" class="btn btn-warning" > Run experiment</a>
    {% endif %}
    </h5>

    <p>
        <h3> {{ layout.title }} </h3>
        {{ layout.description }}
    </p>

    {% if configurable %}
    <form class="form-horizontal" role="form" method=post action="{% url 'webapp.views.alter_exp' exp.e_id 'update' %}"/>
        {% csrf_token %}
        <input type="hidden" name="exp_id" value="{{ exp.e_id }}" />

        {% for var_name, input_var in ctx.input_vars.iteritems %}
            <div class="form-group">
                {% if input_var.input_type == "checkbox" %}
                <div class="col-lg-offset-1 col-lg-10">
                    <div class="checkbox">
                        <label class="control-label">
                            <input class="checkbox" name="{{ input_var.name}}" type="checkbox" {% if input_var.value == True %} checked {% endif %}> </input>
                            {{ input_var.description }}
                        </label>
                    </div>
                </div>
                {% endif %}

            </div>
        {% endfor %}
        <!--
        <input type="text" placeholder="1..150" name="samples_num" value="{{ ctx.samples_num }}" /> <br />
        -->

        <div class="form-actions col-lg-offset-1 col-lg-10">
            <button type="submit" name="update_configuration"
                    class="btn btn-default btn-lg btn-block">Save configuration</button>

        </div>

    </form>
    {% endif %}
</div>
{% endblock %}
