<div>
    <div id="{$ block.uuid $}" class="row constructor-block" ng-controller="BlockCtrl">

        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="pull-left">
                    [ <span ng-hide="edit_base_name">{$ block.base_name $}</span>
                <span ng-show="edit_base_name">
                    <input type="text" name="base_name" ng-model="block.base_name"> </input>
                    <button class="btn btn-small" ng-click="changeBaseName()">Rename</button>
                </span>
                    <a ng-hide="edit_base_name" class="block-reload glyphicon glyphicon-pencil" ng-click="toggleEditBaseName()"></a>
                    ]

                </div>
                &nbsp;
                {$ block.name $}
                <!--<span class="label label-warning">Scope: {$ block.scope $}</span>-->
                <i>State: {$ block.state $} </i>

                <div class="pull-right">
                    <a class="block-reload glyphicon glyphicon-repeat"
                       style="text-decoration: none"
                       ng-click="access.reload_block(block)"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="block-move-down glyphicon "
                       style="text-decoration: none"
                       ng-class="{'glyphicon-resize-small': !block.ui_folded,
                                  'glyphicon-resize-full': block.ui_folded}"
                       ng-click='toggleBodyVisibility()'>
                    </a>
                    <!--<a class="block-move-down hidden glyphicon glyphicon-resize-full"></a>-->
                    <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
                    <!--<a class="block-move-down glyphicon glyphicon-arrow-down"></a>-->
                    <!--<a class="block-move-up glyphicon glyphicon-arrow-up"></a>-->
                    <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
                    <!--<a class="block-remove text-danger glyphicon glyphicon-trash"></a>-->
                </div>
            </div>
            <div class="panel-body" ng-show="block.is_block_updating">
                <div class="alert alert-success" style="text-align:center">
                    <h2>Waiting for the server response!</h2>
                </div>

            </div>

            <div class="panel-body" ng-hide="block.ui_folded" ng-hide="block.is_block_updating">
                <div ng-if="block.errors.length > 0" class="row">
                    <div  class="alert alert-danger">
                        <ul class="list-unsyled">
                            <li ng-repeat="error in block.errors">
                                {$ error $}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-4 col-md-3">
                        <!--<h4 style="text-align: center"> <span class="label label-default"> Input variables </span> </h4>-->
                        <div class="row">
                            <fieldset ng-disabled="access.mode.ro">
                                <div ports-group block="block" group-name="input">
                                </div>
                            </fieldset>
                        </div>

                    </div>

                    <div class="col-xs-5 col-md-6">
                        <!--<h4 style="text-align: center"> <span class="label label-default"> Parameters </span> </h4>-->
                        <div class="row">
                            <fieldset ng-disabled="access.mode.ro">
                                <div ng-repeat="param_proto in block._params_prototype_list | orderBy:'order_num' "
                                     ng-controller="formFieldCtrl">

                                    <!--{$ field.order_num $}-->
                                    <div ng-include="template">
                                    </div>

                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <!--<h4 style="text-align: center"> <span class="label label-default"> Available actions </span> </h4>-->
                        <div class="btn-group-vertical center-block"
                            ng-hide="access.mode.ro"
                                >
                            <button type="button" class="btn btn-default"
                                    ng-repeat="action in block.actions"
                                    ng-click="access.send_action(block, action.code)"
                                    >
                                {$ action.title $}
                            </button>
                        </div>

                        <!-- TODO: remove hardcoded link
                           use angular routing and ng-view
                        -->
                        <!--<h4 style="text-align: center"> <span class="label label-default"> Sub pages </span> </h4>-->
                        <div ng-if="block.is_sub_pages_visible"
                             class="list-group">
                            <a class="list-group-item"
                               ng-repeat="(res, page) in block.pages"
                               href="/block_sub_page/{$ exp_id $}/{$ block.uuid$}/{$ page.resource$}"
                                    >
                                {$ page.title $}

                            </a>
                        </div>
                    </div>

                </div>

                <hr />
                <div class="row">
                    <div ng-repeat="element in block.elements" ng-controller="blockElementCtrl">
                        <div ng-include="template" >
                        </div>
                    </div>
                </div>


                <!-- Internal steps -->
                <div class="panel panel-danger" ng-if="block.create_new_scope">
                    <div class="panel-heading">
                        <span style="text-align: center"> Internal steps: </span>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div ng-repeat="uuid in access.blocks_by_bscope[block.sub_scope_name]">
                                <div block-dir block="access.block_bodies[uuid]"> </div>
                            </div>

                        </div>

                        <div pallet scope_name="block.sub_scope_name" ng-if="!access.mode.ro">
                        </div>

                    </div>
                    <div class="row">
                        <div ng-include="'/static/js/constructor/partials/collector.html'" />
                    </div>
                    <hr />

                </div>

            </div>
        </div>
    </div>
</div>
