<div>
    <div ng-repeat="input in block.inputs" ng-controller="PortCtrl">
        <div ng-if="input.multiply_extensible != true" class="row">
            <div class="form-group">
                <label class="col-sm-4 control-label">
                    {$ input.name $} <small>[{$ input.required_data_type $}]</small>
                </label>
                <div class="col-sm-8">
                    <select class="form-control"
                        ng-model="block.bound_inputs[input.name]"
                        ng-options="
                            option.pk as option.title for option
                            in access.vars
                                |filter:access.fnFilterVarsByScope(block.visible_scopes_list)
                                |filter:access.fnFilterVarsByType([input.required_data_type])
                                |filter:access.fnFilterVarsByBlockUUID([block.uuid])
                        "
                    >
                    </select>
                </div>
            </div>
        </div>
        <div ng-if="input.multiply_extensible == true"
             ng-hide="access.mode.ro"
             class="row">
            <div class="form-group">
                <label class="col-sm-4 control-label">
                    New input field <small> [{$ input.required_data_type $}] </small>
                </label>
                <div class="col-sm-6">
                    <input ng-model="new_port.name" type="text" class="form-control">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary" ng-click="add_port()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

