<div class="col-xs-12">
    <div class="well">
        <h5>Assay table preview</h5>
        <div class="assay-table-placeholder" style="overflow: auto;"/></div>
    </div>

    <div class="well">
        <h5>Pheno table preview</h5>
        <div class="pheno-table-placeholder"/></div>
    </div>
</div>
<script type="text/javascript">
    {% autoescape off %}
    var es={{ exp_block.get_es_preview }};
    {% endautoescape %}

    render_table($("#{{exp_block.uuid}} .assay-table-placeholder"), es.assay);
    render_table($("#{{exp_block.uuid}} .pheno-table-placeholder"), es.pheno);

</script>
