{% extends "base.html" %}
{% load static %}


{% block inner %}

<script type="text/javascript" src="{% static 'common/spin.js/spin.js' %}"></script>
<script type="text/javascript" src="{% static 'common/angular-spinner/angular-spinner.js' %}"></script>

<script src="{% static 'js/pheno_editor/app.js'%}"></script>


<div ng-app="PhenotypeEditor" ng-controller="PhenoCtrl" ng-init="init('{{ exp.pk }}', '{{ block_.uuid }}')">

    <div class="row" ng-hide="init_done">
        <div class="col-xs-4 col-xs-offset-4">
            <!--<span us-spinner="{ speed: 1.7}"></span>-->
            <h1>Loading ... </h1>
        </div>


    </div>
    <div ng-show="init_done">
        <div class="col-lg-4 col-lg-push-8">
            <div class="row center-block text-center">
                <button class="btn btn-primary" ng-click="save_assignment()">
                    Save assignment
                </button>
                <a href="/constructor/{$ phenoIO.exp_id $}/" class="btn btn-default ">
                    Return to workflow construction
                </a>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="text-center">
                        <span class="badge">
                            Create target class from <br/> existing phenotype  property.
                        </span>
                    </h3>
                    <div class="list-group" >
                        <!--ng-repeat="header in phenoIO.pheno.headers |filter:fnFilterUserClass"-->
                        <a class="list-group-item"
                           ng-click="clone_feature_as_target_class(header)"
                           ng-repeat="header in table_config.columns"
                           ng-if="header.visible && header.field !=
                                phenoIO.pheno.headers_title_to_code_map[phenoIO.pheno.user_class_title]"
                        >
                            {$ header.title $}
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3 style="text-align: center">
                        <span class="badge">Assign classes manually.</span>
                    </h3>

                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="new_class_label"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="add_new_class()">Add class</button>
                        </span>
                    </div>

                    <button class="btn btn-default btn-block" ng-click="assign_class()">
                        Assign selected to <b>`{$ active_class $}`</b>
                    </button>
                    <button class="btn btn-default btn-block" ng-click="clean_row_selection()">
                        Clean rows selection
                    </button>

                    <h3 style="text-align: center"> <span class="badge">Available classes.</span>
                        <small>Empty class defines ignored samples </small>
                    </h3>

                    <div class="list-group">
                        <a class="list-group-item"
                           ng-click="activate_class_for_assignment(sample_class)"
                           ng-repeat="sample_class in available_classes "
                           ng-class="{active: sample_class == active_class}"
                        >
                           &nbsp; {$ sample_class $}
                        </a>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-lg-8 col-lg-pull-4"
             style="overflow: auto">

            <div class="row text-center">
                <div class="col-md-6">
                    <button class="btn btn-default" ng-click="open_modal()">
                        Configure columns visibility
                    </button>
                </div>

                <div class="col-md-6">
                    <a class="dotted" ng-hide="show_add_column_form"
                            ng-click="toggle_add_column_form()">
                        Create new target class column
                    </a>

                    <div class="input-group" ng-show="show_add_column_form">
                        <input class="form-control" type="text" ng-model="new_column_name" />

                        <span class="input-group-btn">
                            <button class="btn btn-primary"
                                    ng-click="toggle_add_column_form(); add_column();">
                                Create
                            </button>
                        </span>
                   </div>
                </div>
            </div>

            <table
                    ng-table="table_config.tableParams" show-filter="true" class="table">
                <thead>
                <tr>
                    <th ng-repeat="column in table_config.columns" ng-show="column.visible"
                        class="header text-center sortable"
                        style="min-width: 150px"
                        ng-class="{
                    'sort-asc': table_config.tableParams.isSortBy(column.field, 'asc'),
                    'sort-desc': table_config.tableParams.isSortBy(column.field, 'desc')
                }"
                        ng-click="toggle_sorting(column)"
                            >

                        {$ column.title $}
                <span class="pull-right glyphicon"
                      ng-class="{
                        'glyphicon-sort':
                            !table_config.tableParams.isSortBy(column.field, 'asc') &&
                            !table_config.tableParams.isSortBy(column.field, 'desc'),
                        'glyphicon-sort-by-attributes':
                            table_config.tableParams.isSortBy(column.field, 'asc'),
                        'glyphicon-sort-by-attributes-alt':
                            table_config.tableParams.isSortBy(column.field, 'desc'),
                    }"

                        ></span>

                    </th>
                </tr>
                <tr>
                    <th ng-repeat="column in table_config.columns"
                        ng-show="column.visible"
                        class="text-center sortable"
                            >
                        <input type="text" class="form-control"
                               ng-model="table_config.filter_dict[column.field] "/>
                    </th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="row in $data"
                    ng-click="changeSelection(row, $data, $index, $event)"
                    ng-class="{'active': row.$selected}"
                        >
                    <td ng-repeat="column in table_config.columns" ng-show="column.visible" sortable="column.field">
                        {$ row[column.field] $}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock inner %}