<div id="{{ exp_block.uuid }}" class="row constructor-block">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">
            </div>
            {{ exp_block.name }}
            {% block panel_heading %}

            {% endblock %}

            {% if exp_block.is_base_name_visible %}
            [   {{exp_block.base_name}}
                <a class="block-reload glyphicon glyphicon-pencil"></a>
            ]
            {% endif %}

            <div class="pull-right">
                <a class="block-reload glyphicon glyphicon-repeat"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="block-move-down glyphicon glyphicon-resize-small"></a>
                <a class="block-move-down hidden glyphicon glyphicon-resize-full"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="block-move-down glyphicon glyphicon-arrow-down"></a>
                <a class="block-move-up glyphicon glyphicon-arrow-up"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="block-remove text-danger glyphicon glyphicon-trash"></a>
            </div>


        </div>
        <div class="panel-body">
            <div class="spin-placeholder">&nbsp;</div>
            {% if exp_block.errors %}
            <div class="alert alert-danger">
                <ul class="list-unstyled">
                    {% for error in exp_block.errors %}
                    <li>
                        {{ error.msg|default:error }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% block panel_body %}
            {% endblock %}
        </div>
    </div>
</div>