<div id="blocks-pallet-{{ scope }}" class="row bg-gray" style="display:none">
    {% for group_title, group in blocks_by_group %}
    <div class="col-xs-4 col-md-3 col-lg-2" >
        <div class="panel panel-default">
            <div class="panel-heading">{{ group_title }}</div>
            <div class="panel-body">
                {% for block_code, block_title in group %}
                <a href="#{{block_code}}" class="btn btn-default btn-block-provider btn-block"
                   data-scope="{{ scope }}"
                >
                    {{ block_title}}
                </a>
                {% endfor %}

            </div>
        </div>
    </div>
    {% endfor %}
</div>